.thread {
  font-family: "Zekton";
  text-align: center;

  div {
    h1 {
      color: #c3f6ff;
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #13dbfe;
    }
    p {
      position: relative;
      margin-top: 2rem;
      padding: 2rem;
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.575);
      backdrop-filter: blur(5px);
      color: white;
      z-index: 9;
    }
  }
}
