* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  .synth-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

@font-face {
  font-family: "BTTF";
  src:
    local("BTTF"),
    url("./assets/fonts/BTTF.ttf") format("truetype");
}

@font-face {
  font-family: "Zekton";
  src:
    local("zekton"),
    url("./assets/fonts/zekton.otf") format("truetype");
}
